body {
    
}

#main-container {
    margin-top:15px;
}

.card-header {
    border-radius: 15px 15px 0 0 !important;
    border-bottom: 0 !important;
}
.channel-list {
    max-height:750px;
    overflow-y:auto;
}
.feed-container {

    height: 750px;
    max-height: 750px;
    overflow-y: auto;

}
.user-list {
    max-height: 750px;
    overflow-y: auto;
}

.message {
    resize: none;
}

.glow-unread {   
    animation: glow-unread 1s infinite alternate;
}

@keyframes glow-unread {
    from {
       background-color: #aef4af;
    }

    to {
        background-color: #ffffff;
    }
}

.feed-container {
    border:0;
}

.current-user {
    background-color:#f3f3f3;
}
.feed-list {
    border:0;
}
.feed-user-message {
    border:0px;
    padding:5px;
}

.feed-message {
    border: 0px;
    padding: 5px;
}
    .feed-message > .message-text {
        display: flex;
        padding: 5px;
        border: none;
        //background-color: rgba(255, 225, 173, 0.49);
        width: 100%;
        float: left;
        background-color:aliceblue;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
    }

.feed-user-message > .message-text {
    display: flex;
    padding: 5px;
    border: none;
    //background-color: rgba(174, 244, 175, 0.49);
    width: 100%;
    float: left;
    background-color:antiquewhite;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.feed-top {    
    
}
.feed-list {
    background-color:rgba(255, 255, 255, 0.19)
}

.user-item > button {
    margin:5px;    
}

.user-item:hover {
    background-color:aliceblue;
    opacity: 1;
    transition: 0.5s;
}
.channel-list-item:hover {
    background-color: aliceblue;
    opacity: 1;
    transition: 0.5s;
}

.female-pink {
    color:#efadff;
}
.male-blue {
    color: #86d3ff;
}

.user-settings-modal {
    position: fixed;
    top: 10%;
    left: 40%;
    
    display: none;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.00); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.00); /* Black w/ opacity */
    background-color: aliceblue;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    z-index: 5;
    transform: translateX(-50%) translateY(-50%);
}
.user-details-badge {
    display: inline-block;
    margin: auto;    
    padding: 10px;
}
.user-settings-save {
    float:right;
}
.user-settings-pick-image {
   
}
.user-settings-current-avatar {
 max-height:400px;
 max-width:300px;
}
#croppie-div {
    width:300px;
    height:400px;
}

.feed-top-avatar {
    width: 50px;
    height: 50px;
}
.feed-avatar {
    width: 25px;
    height: 25px;
    margin-right:10px;

}
.active-conversation {
    background-color:aliceblue;
}
.chat-tab {
    border: 1px;
    border-color: rgba(255, 255, 255, 0.19);
    display: inline-block;
    float: none;
}
.chat-tabs-wrapper {
    width:100%;
}
.chat-tabs {
    white-space: nowrap;    
    display: -webkit-inline-box;
    width: 100%;    
    overflow-x: scroll;
    overflow-y: hidden;
}
.user-list-avatar {
    -webkit-box-shadow: 0px 0px 0px 1px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 0px 1px rgba(0,0,0,1);
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,1);
}
html, body {
   
}
nav {

}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}
.float-left {
    float:left;
}
.float-right {
    float:right;
}
[hidden] {
    display: none !important;
}