@model IEnumerable<GlobeChat.Models.Channel>

@{
    ViewData["Title"] = "Channels";
}
<div class="container-fluid h-100" id="main-container">
    <div class="row justify-content-center h-100">
        <div class="col-3">
            <div class="card-header">
                <div class="input-group">
                    <input type="text" placeholder="Search..." name="" class="form-control search">
                    <div class="input-group-prepend">
                        <span class="input-group-text search_btn"><i class="fas fa-search"></i></span>
                    </div>
                </div>
            </div>
            <ul class="list-group channel-list">
               
            </ul>
        </div>

        <div class="col-6">
            <div class="card-header feed-top">
                Message History
            </div>
            <div class="feed-container">
                <ul class="list-group feed-list">
                   
                </ul>
            </div>
            <ul class="nav nav-tabs chat-tabs">
                <li class="nav-item nav-link main-channel-tab">
                    
                </li>                
            </ul>

            <div class="input-group card-footer">
                <div class="input-group-append">
                    <span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
                </div>
                <textarea name="" class="form-control message" placeholder="Type your message..."></textarea>
                <div class="input-group-append">
                    <span class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></span>
                </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card-header">
                Users in this channel
            </div>
            <div class="user-container">
                <ul class="list-group user-list">
                   
                </ul>
            </div>
            <div class="card-footer rounded">

            </div>

        </div>
    </div>
</div>

@section Styles
    {
    <link rel="stylesheet" href="~/css/webchatview.css" />
    <link rel="stylesheet" href="~/lib//font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" asp-append-version="true" />
}
@section Scripts
    {
    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/globals.js"></script>
    <script src="~/js/GUI/GUIRenderable.js"></script>
    <script src="~/js/GUI/GUIElement.js"></script>
    <script src="~/js/GUI/GUIChannelListElement.js"></script>
    <script src="~/js/GUI/GUIUserListElement.js"></script>
    <script src="~/js/GUI/GUIChatFeedElement.js"></script>
    <script src="~/js/GUI/GUIChatTabElement.js"></script>
    <script src="~/js/GUI/GUIButon.js"></script>
    <script src="~/js/Classes/Conversation.js"></script>
    <script src="~/js/Classes/Channel.js"></script>
    <script src="~/js/Classes/User.js"></script>
    <script src="~/js/helpers.js"></script>
    <script src="~/js/chat.js"></script>
    <script src="~/js/connection.js"></script>
    <script>
        $(document).ready(function () {
            $('#action_menu_btn').click(function () {
                $('.action_menu').toggle();
            });            
        });
        
    </script>


}

