@model IEnumerable<GlobeChat.Models.Channel>

@{
    ViewData["Title"] = "Channels";
}


<div class="container-fluid" id="webchatview">

</div>

@section Styles
    {
    <link rel="stylesheet" href="~/lib//webix/skins/flat.min.css" />
    <link rel="stylesheet" href="~/css/webchatview.css" />
    <link rel="stylesheet" href="~/lib//font-awesome/css/font-awesome.min.css" asp-append-version="true" />
}

@section Scripts
    {

    <script src="~/lib//webix/webix.min.js"></script>
    <script src="~/js/webchatview.js"></script>
    

}