@using Microsoft.AspNetCore.Http


@{
    ViewData["Title"] = "Home Page";
}



@if (@Context.Session.Keys.Count() > 0)
{
    <p>Test</p>
}
@foreach (var s in @Context.Session.Keys)
{
    <p> @s.FirstOrDefault().ToString() </p>
}
