    @model GlobeChat.Models.User
@{
    ViewData["Title"] = "Edit";
}
<div class="container">
    <h2>Settings</h2>

    <h4>Change your password</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="text" asp-for="Login" disabled />
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" id="form-password" class="form-control" type="password" />
                    <label for="password-conf" class="control-label">Confirm your new password</label>
                    <input id="form-password-conf" class="form-control" type="password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <p id="passmessage" class="alert alert-warning">Passwords do not match</p>
                <label for="show-password" class="control-label">Show password</label>
                <input type="checkbox" id="show-password" />
                <div class="form-group">
                    <input id="btn-submit" type="submit" value="Save" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>

        var check = $("#show-password");
        var pass = $('#form-password');        
        var passconf = $('#form-password-conf');        
        var passmessage = $('#passmessage');        
        var btnsubmit = $('#btn-submit');
        passmessage.hide();
        $(document).ready(function () {
            check.click(() => {                           
                switch ($('input[id="show-password"').is(':checked')) {
                    case true: { pass.get(0).type = 'text'; passconf.get(0).type = 'text'; break; }
                    case false: { pass.get(0).type = 'password'; passconf.get(0).type = 'password'; break; }
                }
            });
           $("body").keyup(function () {
               if (pass.val() != passconf.val()) {
                   passmessage.show();
                   btnsubmit.addClass("disabled");
               }
               else {
                   passmessage.hide();
                   btnsubmit.removeClass("disabled");
               } 
            });

           
        })
        
    </script>
}
